*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
.logogato{
    width: 50px;
    margin-left: -5%;
    border-radius: 0px;
}
body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 8px black;
    color: black;
    background-color: antiquewhite;
}

span{
    color: honeydew;
}


input {
    border-radius: 1000px;
    border: none;
    width: 90px;
    text-align: center;
}

.navegacao {
    display: flex;
    justify-content:space-evenly;
    padding: 20px 380px;
}

.titulo {
    display: flex;
    justify-content: center; 
    text-align: center;
    font-size: 50px;
    padding: 180px;
}

button {
    margin-top: 30px;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 5px;
    height: 40px;
    transition: 0.3s;
    font-size: 20px;
}

button:hover{
    background-color: blanchedalmond;
    transition: 0.3s;
    box-shadow: 1px 1px 5px black;
}

#res{
    margin-top: 30px;
   
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    max-height: auto;
}

.conteudo {
    margin: 50px 100px;
}

.texto {
    text-align: justify;
}
.foto_fluxo{
    display: grid;
    padding: 50px;
    display: flex;
    justify-content: center;
    height: 380px;
    border-radius: 60px;
}

.algoritmo_def{
    display: grid;
    position: relative;
    padding: 50px;
    display: flex;
    justify-content: center;
    height: 380px;
}
.simbolo{
    display: grid;
    position: relative;
    padding: 50px;
    display: flex;
    justify-content: center;
    height: 380px;
}
.fluxo2{
    display: grid;
    position: relative;
    padding: 50px;
    display: flex;
    justify-content: center;
    height: 380px;
}
.rodape{
    background-color: darkcyan;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    border-radius: 60px;
}

